@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* MMN Rename this file */

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.logo-container {
  flex-grow: 1;
  text-align: right;
  padding-right: 1rem;
}

.handbook-logo {
  width: 7.5vw;
  min-width: 50px;
}

.title-container {
  flex-grow: 1;

}

.handbook-title {
  text-align: right;
  margin: 0;
  font-size: clamp(12px, 3vw, 64px);
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal ;
  color: #000000;
  text-align: left;
}

.toc-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
