@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap');

.page-content {
  display: flex;
  max-width: 75%;
  width: 75%;
  height: calc(60vh - 16px);
  padding: 2em 3em;
  margin: 1em auto 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Spectral', serif;
  animation: fadeIn 0.5s ease-in-out;
  font-size: 16px;
  background-color: #faf9f2;
  box-shadow: 0 -2px -4px rgba(0, 0, 0, 0.1); 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.page-sections {
  flex: 1 1 75%;
  padding-right: 20px;
  overflow-y: auto;
}

.page-quick-nav {
  flex: 1 1 25%;
  overflow-y: auto;
  padding-left: 2vw;
}

.quick-nav-item {
  font-size: 1em;
}

@media (max-width: 768px) {
  .quick-nav-item {
    font-size: .4em;
  }
}

.video-thumbnail-container {
  display: flex;
  justify-content: center;
}

.video-thumbnail {
  cursor: pointer;
  width: 20%;
  border-radius: 5px;
  transition: transform 0.2s;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.video-container {
  background: rgb(39, 39, 39);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  font-size: 1em;
}

@media (max-width: 768px) {
  .page-content {
    padding: 1.5em 1em;
    margin: 0.5em auto 0;
    max-width: 80%;
    width: 80%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.125em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.75em;
  }

  p {
    font-size: 0.875em;
  }
}
