@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.title-container {
  padding: 20px 0; 
  margin-bottom: 20px;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.handbook-title {
  text-align: center;
  margin: 0;
  font-size: 64px;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal ;
  color: #000000;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.handbook-logo {
  width: 5%; 
  max-width: 100px; 
  min-width: 40px;
  height: auto;
}

/* .treeContainer {
  display: flex;
  justify-content: flex-start;
} */

/* .MuiTreeItem-label {
  font-family: 'Spectral' !important;
  font-size: 16px;
} */